body{
	background: #ccc;
}
h3,div{
	text-align: center;
}
.input{
	margin: 10px;
}
input[type="text"]{
	padding: 5px;
	border: 1px solid;
	width: 30%;
}
input[type="button"]{
	padding: 5px;
	border: 1px solid;
	width: 15%;
	cursor: pointer;
}